/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: white;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* Footer */
footer {
    background-color: black;
}

footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
}

footer i {
    color: white;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}
